<mat-card-content>
    <p>back-ground works!</p>
    <div style="width: 320px;">
        <mat-divider></mat-divider>
        <div class="error-message">
            <div class="list-inline-item">
                <p class="msg" style="width: 320px;">
                    <span class="span-30">
                    </span>
                    <span class="hint-msg"></span>
                    <a href="#" class="a-login">LOGIN</a>
                </p>
            </div>
        </div>
    </div>
</mat-card-content>