<p>dash-board works!</p>
<div  class="display" style="padding-bottom: 40%;">

    <mat-card fxLayout="column" fxLayoutAlign="center start" style="background-color:orange;">
        <mat-card-title>About Us</mat-card-title>
        <mat-card-content >Our Mission is to Simplify Merchant Acquiring and Aggregation
            Established in 2019 by a group of successful entrepreneurs and payments industry veterans, Toucan strives
            towards filling in existing gaps in the industry with the expertise of its 40+ R&D team located in
            Hyderabad, Telangana. We are a new-age fintech company that offers a futuristic platform for banks and
            financial institutions for merchant acquiring processing. With its custom-built and highly adaptive design,
            it helps acquirers and financial services players to seamlessly manage their merchant portfolios. Built with
            a global outlook, Toucan is a powerful tool that empowers acquirers and aggregators to assist merchants to
            scale beyond boundaries.</mat-card-content>
    </mat-card>

</div>  